

<div class="app-title">
    <div>
        <h1><i class="fa fa-edit"></i> Form Components</h1>
        <p>Bootstrap default form components</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item">Forms</li>
        <li class="breadcrumb-item"><a href="#">Form Components</a></li>
    </ul>
</div>


<h1>Thêm thể loại</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="saveAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input name="Email" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">Họ và tên</label>
                <input name="FullName" class="form-control" />

            </div>
            <div class="form-group">
                <label class="control-label">mật khẩu</label>
                <input name="Password" class="form-control" type="password"/>

            </div>
            <div class="form-group">
                <input type="submit" value="Thêm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-controller="Table">Trở về</a>
</div>


