@model FlixNest.Models.Year

@{
    ViewData["Title"] = "UpdateYear";
}

<h1>Cập nhật năm</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditYear">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="YearId" />
            <div class="form-group">
                <label asp-for="YearName" class="control-label">Tên năm</label>
                <input asp-for="YearName" class="form-control" />
                <span asp-validation-for="YearName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>

