@model FlixNest.Models.Country

@{
    ViewData["Title"] = "UpdateCountry";
}

<h1>Cập nhật quốc gia</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCountry">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CountryId" />
            <div class="form-group">
                <label asp-for="CountryName" class="control-label">Tên quốc gia</label>
                <input asp-for="CountryName" class="form-control" />
                <span asp-validation-for="CountryName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>


