

<h2>Danh sách các bộ phim đã theo dõi</h2>

<div class="row">
    @foreach (var item in ViewBag.movies)
    {
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="product__item">
                <div class="product__item__pic set-bg">
                    <a asp-action="Detail" asp-controller="Home" asp-route-id="@item.MovieId">
                        <img src="~/images/@item.Image" alt="Trending Image" class="anh">
                    </a>
                    <!-- Other details... -->
                </div>
                <div class="product__item__text">
                    <h5><a asp-controller="Home" asp-action="Detail" asp-route-id="@item.MovieId">@item.MovieName</a></h5>
                </div>
            </div>
        </div>
    }
</div>