@model FlixNest.Models.Episode

@{
    ViewData["Title"] = "UpdateEp";
}

<h1>Cập nhật tập phim</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditEp" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EpisodeId" />
            <div class="form-group">
                <label asp-for="EpisodeName" class="control-label">Tên tập</label>
                <select asp-for="EpisodeName" class="form-control">
                    <option value="Tập 1">Tập 1</option>
                    <option value="Tập 2">Tập 2</option>
                    <option value="Tập 3">Tập 3</option>
                    <option value="Tập 4">Tập 4</option>
                    <option value="Tập 5">Tập 5</option>
                    <option value="Tập 6">Tập 6</option>
                    <option value="Tập 7">Tập 7</option>
                    <option value="Tập 8">Tập 8</option>
                    <option value="Tập 9">Tập 9</option>
                    <option value="Tập 10">Tập 10</option>
                </select>
                <span asp-validation-for="EpisodeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Video" class="control-label">Video</label>
                <input asp-for="Video" class="form-control" type="file" name="videoFile"/>
                <span asp-validation-for="Video" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label">Ngày phát hành</label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MovieId" class="control-label">Tên phim</label>
                <select asp-for="MovieId" class="form-control" asp-items="ViewBag.MovieId"></select>
                <span asp-validation-for="MovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Trở về</a>
</div>


